
@{
    ViewBag.Title = "Index";
}

<section class="staticSec">
    <header>
        <h2>Firma Auto Dealer</h2>
    </header>

    <p>Działamy na rynku handlu samochodami używanymi od wielu lat</p>
    <p>Zaufało nam juz setki klientów</p>
    <p>
        Nasza działalność to skup i sprzedaż samochodów różnych typów i marek,
        pochodzących zarówno z terenu Polski jak i zza graicy
    </p>

    <p><b>Zapraszamy do zapoznania sie z naszą ofertą zawartą na niniejszej stronie internetowej</b></p>

</section>