
@{
    ViewBag.Title = "Rules";
}

<section class="staticSec">

    <h2>Zasady korzystania z katalogu online naszego komisu oraz naszych usług w siedzibie</h2>

    <ol>
        <li>Użytkownik korzystający z katalogu online zobowiązany jest przestrzegac zasad zawartych w regulaminie.</li>
        <li>
            W katalogu online zawarte są oferty samochodów, umieszczone w celu pogladowym. Właściwej transakcji
            dokonuje się tylko i wyłącznie w siedzibie firmy, po uprzednich oględzinach pojazdu.
        </li>
        <li>Kupujący po obejżeniu pojazdu jest świadomy wszystkich ewentualnych wad</li>
        <li>
            Katalog online jest odzwierciedleniem realnego posiadania naszej firmy i jest nabierząco aktualizowany,
            jednak mogą nieznaczne opóźnienia w aktualizacjach, które mogą powodować rozbierzności między ofertą
            w katalogu a ofertą w siedzibie firmy.
        </li>
        <li>Wszystkie nasze pojazdy posiadają pełny pakiet dokumentów</li>
        <li>
            Wszystkie nasze pojazdy przed wystawieniem na sprzedaż zostały uprzednio sprawdzone pod względem technicznym.
            O wszelkich wadach klient jest informowany.
        </li>
        <li>Na zakupione pojazdy wystawiamy fakturę VAT.</li>
    </ol>

</section>